.modal-overlay {
   position: fixed;
   background-color: rgba(4, 9, 17, 0.7);
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   opacity: 0;
}

.modal-overlay.on {
   visibility: visible;
   opacity: 1;
}

.modal-overlay .modal {
   background-color: var(--white);
   width: min(90vw, 59rem);
   border-radius: 0.8rem;
   font-family: 'Poppins', sans-serif;
   text-align: center;
   padding: 6.4rem 2rem;
}

.modal-overlay .modal h3 {
   margin-bottom: 1.2rem;
   font-size: 2.4rem;
}
.modal-overlay .modal p {
   color: var(--grey);
   margin-bottom: 2.4rem;
}

.modal-overlay .modal form {
   margin: 0 auto;
}

.modal-overlay .modal form .input-group > input {
   width: min(30.2rem, 90vw);
   margin-bottom: 4rem;
}

.modal-overlay .modal form .buttons {
   /* display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 0.8rem; */
   display: flex;
   justify-content: center;
   
}

.modal-overlay .modal form .buttons input {
   margin-left: 0.8rem;
}

.b-default {
   background-color: var(--red);
   color: var(--white);
}

.b-default.blue {
   background-color: var(--blue);
   color: var(--white);
   
}