header {
   justify-content: space-between;
}

header > #buttons {
   display: flex;
}

header #buttons button:first-child {
   margin-right: 0.8rem;
}

#question-form {
   margin-top: 3rem;
   /* background-color: red; */
}

#question-form form {
   border: 2px solid var(--blue-grey);
   border-radius: 0 0.8rem 0.8rem 0.8rem;
   height: 13.4rem;
   padding: 1.6rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}



#question-form form textarea {
   width: 100%;
   background-color: transparent;
   border: none;
   resize: none;
   outline: none;
   font-family: 'Open sans', sans-serif;
}

#question-form form textarea::placeholder {
   color: var(--blue-grey);
   font-size: 1.6rem;
}

#question-form form > div:last-child {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#question-form form > div:last-child div:first-child {
   display: flex;
   align-items: flex-end;
   height: 30px;
}

#question-form form > div:last-child div:first-child img {
   margin-right: 0.9rem;
}

#question-form form > div:last-child div:first-child p {
   font-size: 1.4rem;
   color: var(--icons-details);
}

/* QUESTIONS */

#questions {
   margin-top: 1.6rem;
   margin-bottom: 1.8rem;
}



#questions .question {
   background-color: var(--light-blue);
   padding: 2.5rem;
   border-radius: 0 0.8rem 0.8rem 0.8rem;
   /* display: grid;
   grid-template-columns: 5.2rem 1fr 27rem;
   grid-gap: 1.6rem; */
   min-height: 13.6rem;
   margin-bottom: 0.8rem;
}

#questions .question > div:first-child {
   display: flex;
}

#questions .question > div:last-child {
   display: flex;
   justify-content: flex-end;
   margin-top: 2rem;
}

#questions .question .avatar {
   padding: 1.4rem;
   background-color: var(--blue);
   clip-path: circle();
   height: 5.2rem;
}


#questions .question .text-question p {
   word-break: break-word;
   min-height: 52px;
   display: flex;
   align-items: center;
   margin-left: 1.6rem;
}

#questions .question .options {
   display: flex;
   align-items: flex-end;
}

#questions .question .options div a {
   display: flex;
   align-items: center;
}

/* SELECTOR */
#questions .question .options div + div {
   margin-left: 2.4rem;
}

#questions .question .options div img {
   margin-right: 0.8rem;
}

#questions .question .options div a p {
   color: var(--grey);
}

/* Question Read */

#questions .question.read {
   background-color: rgba(77, 94, 119, 0.1);
}

#questions .question.read .avatar {
   background-color: var(--blue-grey);
}

#questions .question.read .options div:last-child {
   visibility: hidden;
}