header {
   justify-content: space-between;
}

header > #buttons {
   display: flex;
}

header #buttons button:first-child {
   margin-right: 0.8rem;
}

#question-form {
   margin-top: 3rem;
   /* background-color: red; */
}

#question-form form {
   border: 2px solid var(--blue-grey);
   border-radius: 0 0.8rem 0.8rem 0.8rem;
   height: 13.4rem;
   padding: 1.6rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}



#question-form form textarea {
   width: 100%;
   background-color: transparent;
   border: none;
   resize: none;
   outline: none;
   font-family: 'Open sans', sans-serif;
}

#question-form form textarea::placeholder {
   color: var(--blue-grey);
   font-size: 1.6rem;
}

#question-form form > div:last-child {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#question-form form > div:last-child div:first-child {
   display: flex;
   align-items: flex-end;
   height: 30px;
}

#question-form form > div:last-child div:first-child img {
   margin-right: 0.9rem;
}

#question-form form > div:last-child div:first-child p {
   font-size: 1.4rem;
   color: var(--icons-details);
}

/* QUESTIONS */

#questions {
   margin-top: 1.6rem;
   margin-bottom: 1.8rem;
}

#questions .question {
   background-color: var(--light-blue);
   padding: 2.5rem;
   border-radius: 0 0.8rem 0.8rem 0.8rem;
   display: grid;
   grid-template-columns: 5.2rem 1fr 28rem;
   grid-gap: 1.6rem;
   min-height: 13.6rem;
   margin-bottom: 0.8rem;
}

#questions .question #text-question {
   margin-top: 1.5rem;
}

#questions .question #options {
   display: flex;
   align-items: flex-end;
}

#questions .question #options div a {
   display: flex;
   align-items: center;
}

#questions .question #options div:first-child {
   margin-right: 2.4rem;
}

#questions .question #options div img {
   margin-right: 1.3rem;
}

#questions .question #options div a p {
   color: var(--grey);
}